<%= form_tag events_path, method: 'GET' %>
    <%= category_picker %><br>
    <%= label_tag :location %>
    <%= text_field_tag :location %><br>
    <%= label_tag :search %>
    <%= text_field_tag :search %><br>
    <%= submit_tag 'Search' %>
</form>